<% include partials/header.ejs %>
	<div class="container">        
	<% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>

		 <form class="add-member-form" action="" method="post">

			 <div class="form-group col-md-4">                    
				<input type="text" class="form-control" name="member_id" id="member-id" placeholder="Member Id" required>
             </div>

			 <div class="form-group col-md-4">                    
				<input type="text" class="form-control" name="member_name" id="member-name" placeholder="Member Name" required>
             </div>
             
			 <div class="form-group col-md-4">
                <input type="text" class="form-control" name="member_ssn" id="member-ssn" placeholder="Member SSN" required>
             </div>
             
			 <div class="form-group col-md-8">
                <input type="text" class="form-control" name="member_details" id="member-details" placeholder="Member Details" required>
             </div>

			<button type="submit" class="btn btn-primary" style="padding-left: -0.25rem;margin-left: 15px;">Add Member</button>

		 </form>
		 </div>
    </div>
</body>
</html>
